.header {
  background-image: url("../assets/images/bg-mobile-light.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 170px;
  padding: 16px 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__title {
  color: var(--color-very-light-gray);
  font-size: 27px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .header {
    background-image: url("../assets/images/bg-desktop-light.jpg");
    min-height: 300px;
    padding-top: 76px;
  }

  .header__content {
    margin-bottom: 40px;
  }

  .header__title {
    font-size: 36px;
    letter-spacing: 18px;
  }
}
