.todo-entry {
  background-color: #fff;
  padding: 14px 20px;
}

.todo-entry__input {
  border: none;
  background-color: transparent;
  color: var(--color-very-dark-grayish-blue);
}

.todo-entry__input,
.todo__text {
  flex: 1;
  font-size: 12px;
}

.todo-entry__input::placeholder {
  color: var(--color-dark-grayish-blue);
}

@media screen and (min-width: 768px) {
  .todo-entry {
    padding: 20px 24px;
  }

  .todo-entry__input {
    font-size: 17.6px;
  }
}
