body {
  color: var(--color-very-dark-grayish-blue);
}

.box {
  align-items: center;
  display: flex;
  padding: 16px 20px;
}

.round {
  border-radius: 6px;
}

.theme-switcher {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.theme-switcher__icon {
  width: 20px;
}

.todo-list {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: -27px 0 16px;
  z-index: 999;
}

.todo-list__footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  position: relative;
}

.todo-list__completed,
.todo-list__clear {
  color: var(--color-dark-grayish-blue);
  font-size: 12px;
}

.todo-list__clear {
  border: none;
  background-color: transparent;
  min-height: 20px;
}

.todo {
  border-bottom: 1px solid var(--color-very-light-grayish-blue);
}

.todo__btn {
  --btn-size: 20px;
  border-radius: 50%;
  border: 1px solid var(--color-very-light-grayish-blue);
  background-color: transparent;
  cursor: pointer;
  height: var(--btn-size);
  margin-right: 10px;
  width: var(--btn-size);
}

.todo__icon {
  cursor: pointer;
  display: block;
  width: 100%;
}

.todo__close {
  --btn-size: 12px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: var(--btn-size);
  width: var(--btn-size);
}

.todo-entry {
  background-color: #fff;
  padding: 14px 20px;
}

.todo-entry__input {
  border: none;
  background-color: transparent;
  color: var(--color-very-dark-grayish-blue);
}

.todo-entry__input,
.todo__text {
  flex: 1;
  font-size: 12px;
}

.todo-entry__input::placeholder {
  color: var(--color-dark-grayish-blue);
}

.todo-panel {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  left: 0;
  position: absolute;
  width: 100%;
  bottom: -62px;
}

.todo-panel__btn {
  border: none;
  background-color: transparent;
  color: var(--color-dark-grayish-blue);
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: min(88%, 540px);
}
